@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300&display=swap');

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body,
h1,
p {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 1.5rem;
}

a {
    text-decoration: none;
    color: inherit;
}

.container-s {
    width: 60%;
    max-width: 1000px;
    margin: auto;
}

.container-l {
    width: 80%;
    max-width: 1200px;
    margin: auto;
}

.primary-text {
    color: #f9faf8;
    margin: 0;
}

.secondary-text {
    color: rgba(229, 231, 235, .75);
    font-size: 18px;
}


/*** Hero Section ***/
#hero {
    background-color: #1f2937;
    padding: 1rem;
}

.header-logo {
    font-size: 24px;
    margin-right: auto;
}

.header {
    display: flex;
    align-items: center;
}

.hero-content {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-block: 7rem;
}

.hero-content>* {
    flex: 1 1 auto;
}

.hero-img img {
    max-width: min(100%, 400px);
    display: block;
    margin-left: auto;
}

.hero-text {
    margin-right: auto;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: .5rem;
}

.btn-sign-up {
    cursor: pointer;
    background-color: #3882f6;
    color: white;
    font-size: 1.25rem;
    padding: .5rem 2rem;
    margin-top: 1rem;
    border: 0;
    border-radius: 10px;
}


/*** Information Section ***/
#information {
    padding-block: 3rem;
    text-align: center;
}

#information h2 {
    padding: 0;
    margin: 0;
    margin-bottom: 3rem;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.info-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 3rem;
}

.info-item {
    flex-basis: 150px;
}

.info-item img {
    max-width: min(100%, 150px);
    margin-inline: auto;
    border: 3px solid #3882f6;
    border-radius: 10px;
    padding: .5rem;
}


/*** Quote Section ***/
#quote {
    padding: 3rem;
    background-color: #e5e7eb;
}

.quote-text {
    color: #1f2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    margin-bottom: 1rem;
}

.quote-author {
    text-align: right;
    margin: 0;
    font-size: 1.5rem;
}

/*** CTA Section ***/
#cta {
    padding: 5rem;
}

.cta-container {
    padding: 3rem 7rem;
    background-color: #3882f6;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.cta-text h3 {
    margin: 0;
    font-size: 1.5rem;
}

.cta-text {
    flex: 15 1 auto;
}

.btn-cta {
    margin-top: 0;
    border: 2px solid white;
    flex: 1 1 136px;
}

/*** Footer Section ***/
#footer {
    background-color: #1f2937;
    color: rgba(255, 255, 255, 0.75);
    text-align: center;
    padding-top: 2rem;
    padding-bottom: .5rem;
}

/* Attributions */
.attributions {
    margin-top: 1.5rem;
}